<style>
  body { padding: 0; margin: 0; }
</style>
<div id="dialog-screenshots" data-job="{{json job true}}" data-screenshots="{{json assets.screenshots true}}" data-hostname="{{hostname}}" data-auth="{{auth}}"></div>
<script>window.ROLLBAR_CLIENT_TOKEN = {{{ROLLBAR_CLIENT_TOKEN}}};</script>
<script src="/js/bundle.js"></script>
